
body,html{
background-image: url("Img/background.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
#PDF_display{
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choosefile{
  height: 10%;
  width: 50%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iframeposition{
  background: white;
  border-radius: 10px;
  width: 800px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.formcontainer{
  width: 40%;
  height: 100%;
  display: flex;

}
.submitform{
  margin: 0 auto;
  width: 200px;
  height: 60px;
}
button{
  font-size: 20px;
  width: 100%;
}
.colorList{
  height: 600px;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 5px;
  background: white;
  border-radius: 10px;
  overflow: auto;
}
.list{
  height: 100%;
  width: 100%;
  list-style-type: none;
}
.comment{
  height: 200px;
  width: 360px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
